.loginModal {
    display: grid;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 101;
    min-height: 100%;
    left: 0;
    top: 0;
    align-items: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.loginModal__overlay{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    min-height: 100%;
    opacity: 80%;
}

.loginModal__background{
    position: relative;
    min-width: 42%;
    min-height: 52%;
    background-color: white;
    display: flex;
    -webkit-box-shadow: 0px 0px 15px 0px #000000; 
    box-shadow: 0px 0px 15px 0px #000000;
}

.loginModal__left{
    display: flex;
    flex: 0.4;
    background-color: #f9f9f9;
    align-items: center;
}

.loginModal__left > img{
    -webkit-transform: rotate(90deg);
    height: 200px;
}

.loginModal__right{
    display: flex;
    flex-direction: column;
    flex: 0.6;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.loginModal__right > img{
    height: 50px;
    width: 100px;
}

.loginModal__right > h1{
    padding-top: 10px;
    font-weight: 600;
    font-size: 35px;
}

.loginModal__right > label{
    color:  rgb(9, 116, 255);
    font-size: 14px;
}

.loginModal__right >label:hover{
    cursor: pointer;
}

.loginModal__right__content{
    padding-top: 20px;
}

.loginModal__right__content > div{
    font-size: 14px;
}

.buttonDiv{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.closeButton{
    color: #606060;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    margin-right: 20px;
    font-weight: bold;
    outline: 0;
}

.closeButton:hover{
    cursor: pointer;
}

.loginButton{
    display: flex;
    color:  rgb(9, 116, 255);
    background-color: white;
    border: 1px solid  rgb(9, 116, 255);
    border-radius: 2px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    outline: 0;
}
.accountCircle{
    height: 30px !important;
    width: 30px !important;
    padding-right: 7px;
}

.loginButton:hover{
    cursor: pointer;
}