.sidebar {
    flex: 0.10;
    height: 100%;
    position: sticky;
    top: 58px;
    min-width: 50px;
}

.sidebar > hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}