.trending{
    flex: 0.90;
    padding: 40px 20px;
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;

}

.trending__top {
    display: flex;
    justify-content: space-between;
    width: 30%;
    background-color: transparent;
    padding-left: 200px;
    padding-bottom: 10px;
}
.trending__top > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: scale;    
}

.trending__top > span:hover{
    cursor: pointer;
    scale: 1.1;
}

.trending__top > span:hover > .trending__icon{
    animation: hoverAnimation;
    animation-duration: 1s;
    color:rgb(194, 0, 0);
}
.trending__top > span:hover > label{
    animation: hoverAnimation;
    animation-duration: 1s;
    color:rgb(194, 0, 0);
}

@keyframes hoverAnimation{
    0% {color: #494949}
    100% {color: rgb(194, 0, 0);}
}

.trending__top > span > label {
    color: #494949;
    font-weight: bold;
}

.trending > hr {
    margin-left: 150px;
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 55%;
}

.trending__icon {
    width: 90px !important;
    height: 90px !important;
    color: #494949;
    transition: 1s;
}

.trending__bottom {
    padding-left: 200px;
}
