.videoplayer{
    position: relative;
    display: flex;
    transition: all 250ms ease;
}

.videoplayer__player{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.videoplayer__player::-webkit-media-controls{
    display: none !important;
}


.videoplayer:hover > .videoplayer__options{
    opacity: 100%;
}

.videoplayer:hover > .videoplayer__hover{
    -webkit-box-shadow: inset 0px -50px 50px -30px rgba(0,0,0,0.8); 
    box-shadow: inset 0px -50px 50px -30px rgba(0,0,0,0.8);
}

.videoplayer__options{
    display: flex;
    flex: 1;
    opacity: 0%;
    position: absolute;
    bottom: 0px;
    height: 42px;
    width: 100%;
    align-items: center;
    z-index: 3;
    transition: all 250ms ease;
}

.videoplayer__options:hover{
    opacity: 100%;
}

.videoplayer__options > button{
    height: 40px;
    width: 60px;
    margin-left: 10px;
    background-color: transparent;
    border: 0px;
    outline: 0;
}

.videoplayer__options > button:hover{
    cursor: pointer;
}

.videoplayer__options > label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 10px;
    color: white;
}

.videoplayer__icon {
    color: white !important;
    height: 30px !important;
    width: 30px !important;
}

.videoplayer__options__slider{
    opacity: 0;
    width: 0px !important;
    color: white !important;
    margin-left: 10px;
    margin-right: 10px;
    transition-property: width,opacity;
    transition-duration: 0.5s;
}

.videoplayer__icon__volume{
    color: white !important;
    height: 26px !important;
    width: 26px !important;
}

.sliderTransition:hover > .videoplayer__options__slider{
    opacity: 100;
    width: 60px !important;
}

.redSlider{
    -webkit-appearance: none; 
    appearance: none;
    position: absolute;
    width: 100%;
    height: 4px;
    outline: 0;
    border: 0;
    opacity: 0%;
    background: transparent;
    cursor: pointer;
    z-index: 3;
}

.redSlider::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 13px; 
  height: 13px; 
  background: red; 
  cursor: pointer; 
  border-radius: 10px;
}

.greyLine{
    position: absolute;
    background-color:rgb(255, 255, 255);
    height: 3.3px;
    outline: 0;
    border: 0;
    opacity: 25%;
    width: 100%;
}

.lightGreyLine{
    position: absolute;
    background-color:rgb(255, 255, 255);
    height: 3.3px;
    outline: 0;
    border: 0;
    opacity: 40%;
}

.redLine{
    position: absolute;
    height: 3.3px;
    background-color: red;
    outline: 0;
    border: 0;
}

.redSlider:hover ~ .redLine{
    height: 5px;
}

.redSlider:hover ~ .greyLine{
    height: 5px;
}

.redSlider:hover ~ .lightGreyLine{
    height: 5px;
}

.redSlider:hover{
    opacity: 100%;
}

.videoplayer__options__right{
    display: flex;
    flex:1;
    justify-content: flex-end;
    padding-right: 10px;
}

.videoplayer__options__right > button{
    background-color: transparent;
    border: 0px;
    outline: 0;
}

.videoplayer__options__right > button:hover{
    cursor: pointer;
}

.waitingLabel{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    opacity: 100%;
    height: 50px !important;
    width: 50px !important;
    opacity: 0%;
}

.waitingLabel.waiting{
    opacity: 69%;
    animation: rotationAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.videoplayer__options__right > button > label:hover{
    cursor: pointer;
}

@keyframes rotationAnimation{
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}

.videoplayer__icon__pause{
    color: white !important;
    height: 28px !important;
    width: 28px !important;
}
.videoplayer__options__quality{
    position: absolute;
    right: 15px;
    bottom: 60px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    z-index: 1;
}
.videoplayer__options__quality > div{
    background-color: #212121;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 95%;
}

.videoplayer__options__quality > ul{
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.videoplayer__options__quality > ul > li{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
}

.videoplayer__options__quality > label{
    padding-left: 35px;
    color: white;
    position: relative;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.videoplayer__options__quality > hr{
    position: relative;
    background-color: rgb(70, 70, 70);
    border: 0;
    height: 1px;
}

.videoplayer__options__quality > ul > li:hover{
    background-color: rgba(112, 112, 112, 0.3);
}

.videoplayer__options__sliderDiv{
    position: absolute;
    display: flex;
    width: 98%;
    bottom: 42px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}

.videoplayer__hover{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 250ms ease;
}

.cursorToggleDiv{
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: 2;
}
