.videoPage{
    flex: 1;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 20px;
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
}
.videoPage__left{
    flex: 0.7;
}


.videoPage__right{
    flex:0.3;
    padding-left: 20px;
}

.videoPage__title {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 100;
}

.videoPage__date{
    font-weight: 100;
}

.videoPage__info{
    display: flex;
    height: 40px;
    padding-bottom: 10px;
}

.videoPage__info__left{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.videoPage__info__left > h3{
    font-weight: 100;
    font-size: 14px;
    color: #606060;
}

.videoPage__info__left > label{
    color: #606060;
    padding-left: 5px;
    padding-right: 5px;
}

.videoPage__info__icons{
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.videoPage__info__icon{
    height: 25px !important;
    width: 25px !important;
    color: #606060 !important;
    margin-left: 20px;
}

.videoPage__info__label{
    font-size: 14px;
    color: #606060;
    margin-left: 10px;
}

.videoPage__info__icons > button{
    background-color: transparent;
    outline: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.videoPage__info__icons > button:hover{
    cursor: pointer;
}

.videoPage__left > hr{
    height: 1px;
    border: 0;
    background-color: lightgray;
    width: 100%;
    margin-bottom: 10px;
}

.videoPage__channelInfo{
    flex: 1;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.videoPage__channelInfo__left{
    flex: 0.8;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.videoPage__channelInfo__right{
    flex: 0.2;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.videoPage__channelInfo__left__avatar{
    height: 50px !important;
    width: 50px !important;
}
.videoPage__channelInfo__profileDesc{
    padding-left: 10px;
}

.videoPage__channelInfo__profileDesc > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.videoPage__channelInfo__profileDesc > h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #606060;
}

.joinButton{
    border: 0.2px solid;
    border-color: #0061bb;
    height: 35px !important;
    width: 110px !important;
    border-radius: 2px;
    outline: 0;
    color:  #0061bb;
    background-color: transparent;
    font-weight: 600;
    margin-right: 10px;
}

.joinButton:hover{
    cursor: pointer;
}

.subscribeButton{
    border: 0;
    height: 35px !important;
    width: 110px !important;
    border-radius: 2px;
    outline: 0;
    color:  white;
    background-color: rgb(209, 0, 0);
    font-weight: 600;
    margin-right: 10px;
}

.subscribeButton:hover{
    cursor: pointer;
}

.notificationsButton{
    background-color: transparent;
    color: #606060;
    border: 0;
    outline: 0;
}
.notificationsButton:hover{
    cursor: pointer;
}

.videoPage__left > pre {
    flex: 1;
    white-space: pre-line;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    padding-left: 5.3%;
    max-width: 50%;
    padding-bottom: 10px;
}

.videoPage__right >  div > label{
    font-size: 16px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.videoPage__right > div{
    padding-top: 10px;
}