.videoRow {
    display: flex;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 20px;
}

.videoRow > img:hover{
    cursor: pointer;
    filter: brightness(60%);
}

.videoRow__text > h3:hover{
    cursor: pointer;
}

.videoRow > img {
    object-fit: fill;
    width: 400px !important;
    height: 225px !important;
}

.videoRow__text {
    margin-left: 10px;
    margin-top: 15px;
}

.videoRow__text > h3 {
    padding-bottom: 5px;
    font-weight: 100;
    font-size: 23px;
}

.videoRow__description {
    margin-top: 20px;
    font-size: 15px;
    color: #606060;
}

.videoRow__headline {
    font-size: 15px;
    color: #606060;
}

.videoRow__subsNumber{
    font-weight: bolder;
    color: rgb(194, 33, 33);
}

.videoRow__subscribers {
    background-color: lightgray;
    border-radius: 2px;
}
