.videoRow {
    display: flex;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 20px;
}

.videoRow > img {
    object-fit: contain;
    width: 286px !important;
    height: 178px !important;
}

.videoRow__text {
    margin-left: 14px;
    margin-top: 15px;
}

.videoRow__text > h3 {
    padding-bottom: 5px;
    text-shadow: 0px 1px 2px #444444;
}

.videoRow__description {
    margin-top: 20px;
    font-size: 16px;
    color: #606060;
}

.videoRow__headline {
    font-size: 16px;
    color: #606060;
}

.videoRow__subsNumber{
    font-weight: bolder;
    color: rgb(194, 33, 33);
}

.videoRow__subscribers {
    background-color: lightgray;
    border-radius: 2px;
}