.videoplayer{
    position: relative;
    display: flex;
}

.videoplayer__player{
    width: 100%;
    height: auto;
    object-fit: fill;
}

.videoplayer__player:hover ~ .videoplayer__options{
    opacity: 100%;
}
.videoplayer__player:hover ~ .videoplayer__options > .sliderDiv > .redLine{
    opacity: 100%;
}
.videoplayer__player:hover ~ .videoplayer__options > .greyLine{
    opacity: 50%;
}

.videoplayer__options:hover > .redLine{
    opacity: 100%;
}
.videoplayer__options:hover > .greyLine{
    opacity: 50%;
}

.videoplayer__options{
    display: flex;
    flex: 1;
    opacity: 0%;
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    align-items: center;
    -webkit-box-shadow: inset 0px -30px 50px -30px #000000; 
    box-shadow: inset 0px -30px 50px -30px #000000;
    z-index: 1;
}

.videoplayer__options:hover{
    opacity: 100%;
}

.videoplayer__options > button{
    height: 40px;
    width: 60px;
    margin-left: 10px;
    background-color: transparent;
    border: 0px;
    outline: 0;
}

.videoplayer__options > button:hover{
    cursor: pointer;
}

.videoplayer__options > label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 10px;
    color: white;
}

.videoplayer__icon {
    color: white !important;
    height: 30px !important;
    width: 30px !important;
}

.videoplayer__options__slider{
    opacity: 0;
    width: 0px !important;
    color: white !important;
    margin-left: 10px;
    margin-right: 10px;
    transition-property: width,opacity;
    transition-duration: 0.5s;
}

.videoplayer__icon__volume{
    color: white !important;
    height: 30px !important;
    width: 30px !important;
}

.sliderTransition:hover > .videoplayer__options__slider{
    opacity: 100;
    width: 60px !important;
}

.redSlider{
    -webkit-appearance: none; 
    appearance: none;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 40px;
    outline: 0;
    border: 0;
    opacity: 0%;
    background: transparent;
    cursor: pointer;
    z-index: 1;
}

.redSlider::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; 
  height: 15px; 
  background: red; 
  cursor: pointer; 
  border-radius: 10px;
}

.greyLine{
    position: absolute;
    background-color:rgb(95, 95, 95);
    width: 100%;
    height: 3px;
    bottom: 40px;
    outline: 0;
    border: 0;
    opacity: 0%;
}

.redLine{
    position: absolute;
    height: 4px;
    bottom: 40px;
    background-color: red;
    outline: 0;
    border: 0;
}

.redSlider:hover ~ .redLine{
    height: 5px;
}

.redSlider:hover ~ .greyLine{
    height: 5px;
}

.redSlider:hover{
    opacity: 100%;
}



