.videocard {
    width: 370px;
    margin-bottom: 40px;
}

.videocard:hover{
    cursor: pointer;
}

.videocard__thumbnail {
    height: 200px;
    width: 350px;
}

.videocard__info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.videocard__text {
    margin-left: 15px;
}

.videocard__text > h4{
    font-size: 16px;
    margin-bottom: 5px;
}

.videocard__text > p {
    font-size: 14px;
    color: gray;
}

.videocard__avatar {
    width: 40px !important;
    height: 40px !important;
}